@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$primaryFont: 'Work Sans', sans-serif;
$secondaryFont:  'Roboto', sans-serif;


p,a,li,{
  font-family: $secondaryFont;
  font-size: 1.6rem;
  color: $secondaryColor;
  text-decoration: none;
}
