.scroll-to-top-btn {
    display: block;
    position: fixed;
    right: -55px;
    bottom: 10px;
    width: 40px;
    height: 38px;
    background: url(../images/icons/scroll-top.svg) center center no-repeat $secondaryColor;
    background-size: 60%;
    text-align: center;
    z-index: 900;
    opacity: 0;
    -webkit-box-shadow: 3px 4px 9px 0 rgba(0,0,0,.15);
    box-shadow: 3px 4px 9px 0 rgba(0,0,0,.15);
    -webkit-transition: right .4s cubic-bezier(.68,-.55,.265,1.55),opacity .3s,color .3s;
    -moz-transition: right .4s cubic-bezier(.68,-.55,.265,1.55),opacity .3s,color .3s;
    -o-transition: right .4s cubic-bezier(.68,-.55,.265,1.55),opacity .3s,color .3s;
    transition: right .4s cubic-bezier(.68,-.55,.265,1.55),opacity .3s,color .3s;
}


.scroll-to-top-btn.visible {
    right: 10px;
    opacity: 1;
}
