header{
  position: fixed;
  z-index: 2;
  width: 100%;
  background: $secondaryColor;
  transition: all .2s ease-in-out;

  .logo{
      a{
        color: $primaryColor;
        font-weight: bold;
      }
  }

  img{
    width: 65px;
  }

  nav{
    @include flex;
    @include flex-column;
    @include flex-justify-center;
    @include flex-align-center;
    position: fixed;
    z-index: 99;
    top:0;
    left:0;
    width: 100%;
    z-index: 0;
    height: 100vh;
    background: rgba($primaryColor,.97);

    .current{
      text-decoration: underline;
    }

    a{
      display: block;
      padding: 15px;
      font-family: $secondaryFont;
      font-weight:500;
      font-size: 1.4em;
      color: $white;
      text-decoration: none;

      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.trigger-nav {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 30px;
    background: 0 0;
    cursor: pointer;
    border: 0
}

.trigger-nav.open-nav{
  z-index: 9;

  .inner .icon-bar{
    background: $secondaryColor;
  }
}

.trigger-nav:focus {
    outline: 0
}

.trigger-nav .inner {
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 0;
    width: 20px;
    height: 18px;
    margin: -9px 0 0 -9px
}

.trigger-nav .inner .icon-bar {
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background: $primaryColor;
    transition: all .3s ease-in-out
}

.trigger-nav .inner .icon-bar.top {
    top: 0
}

.trigger-nav .inner .icon-bar.middle {
    top: 8px
}

.trigger-nav .inner .icon-bar.bottom {
    bottom: 0
}

.trigger-nav.open-nav .inner .icon-bar.middle {
    opacity: 0
}

.trigger-nav.open-nav .inner .icon-bar.top {
    top: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.trigger-nav.open-nav .inner .icon-bar.bottom {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
